.App {
  font-family: 'Lufthansa Text'

}

.grid-wrapper {
  display: flex;
  color: #05164D;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  margin: .25rem;
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: .25rem solid #05164D;
  background-color: #FFFFFF;
  height: 80vh;

}


.card {
  height: 3rem;
  margin: .25rem;
  text-align: center;
  border: .25rem dashed #FFAD00;
}

.column-title {
  text-align: center
}

label {
  text-align: center;
  width: 100%;
  font-weight: bold
}

input {
  background-color: #FFAD00;
  color: #05164D;
}

.control {
  margin: .25rem;
  color: #05164D
}

@font-face {
  font-family: 'Lufthansa Text';
  font-style: normal;
  font-weight: normal;
  src: local('Lufthansa Text'), url('./font/LufthansaTextWeb-Regular.woff') format('woff');
}